<head>
	<title>Pokemon List</title>
	<link href='../styles/reset.css' rel='stylesheet'/>
	<link href='../styles/base.css' rel='stylesheet'/>
	<link href='../styles/layout.css' rel='stylesheet'/>
	<link href='../styles/modules.css' rel='stylesheet'/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>