body {
	background: rgb(255,185,185);
	text-align: center;
	border-collapse: collapse;
	border-spacing: 0px;
}

header {
	background-color: rgb(155,0,0);
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	height: 8.6vh;
	width: 100vw; 
	display: inline-grid;
	grid-template-columns: 30.9vw 55.2vw 13.9vw;
	grid-template-rows: 2.77vh 2.77vh 3.06vh;
	border-bottom: 4px solid black;
}

h2 {
	background-color:  rgb(155,0,0);
	line-height: 5.8vh;
	color: white;
	border-radius: 20px;
	z-index: 0;
	font-size: max(20px, 2vw);
}

input {
	background-color: white;
	border-radius: 8px;
}

fieldset {
	background-color: rgb(155,0,0);
	line-height: 6.4vh;
	text-align: left;
	padding-left: 3vw;
	border-radius: 8px;
}

button{
	background-color: white;
	color: rgb(155,0,0);
	border-radius: 8px;
	margin-bottom: 10px;
}

footer {
	background-color: rgb(155,0,0);
	display: inline-grid;
	height: 5.8vh;
	margin-top: 5vh;
	width:100vw;
	grid-template-columns: 4vw 4vw 25.3vw 4vw 25.3vw 4vw 25.3vw 4vw 4vw;
	grid-template-rows: 1.75vh 2.63vh 1.75vh;
	border-top: 4px solid black;
}

footer > div {
	background-color: white;
	border-radius: 50%;
}

